@import "nib"
@import "sprites/todo_app_sprite_1x"
@import "sprites/todo_app_sprite_2x"

body
  font-size 11px
  box-shadow 1px 1px 2px #CCC
  height 100%

div.test
  todo_app-sprite_2x $todo_app-sprite_2x-dgraph-bg