
$todo_app-sprite_2x-500 = 0px 0px 224px 302px
$todo_app-sprite_2x-dgraph-bg = 0px -302px 105px 197px

todo_app-sprite_2x($sprite)
  background-image url("/assets/images/todo_app/fp571548d32ce8c711b398caeabb09196c-sprite_2x.png")
  background-position $sprite[0] $sprite[1]
  width $sprite[2]
  height $sprite[3]
