
$todo_app-500 = 0px 0px 449px 605px
$todo_app-dgraph-bg = 0px -605px 210px 394px

todo_app-sprite($sprite)
  background-image url("/assets/images/todo_app/fp571548d32ce8c711b398caeabb09196c-sprites.png")
  background-position $sprite[0] $sprite[1]
  width $sprite[2]
  height $sprite[3]
