
$todo_app-sprite_2x-500 = 0px 0px 224px 302px
$todo_app-sprite_2x-600 = 0px -302px 224px 302px
$todo_app-sprite_2x-700 = 0px -604px 224px 302px
$todo_app-sprite_2x-dgraph-bg = 0px -906px 105px 197px

todo_app-sprite_2x($sprite)
  background-image url("/assets/images/todo_app/fp71cc459d2193019a629df319b361f738-sprite_2x.png")
  background-position $sprite[0] $sprite[1]
  width $sprite[2]
  height $sprite[3]
